<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>

    <title>Light Kana</title>

    <!-- Bulma CSS -->
    <link rel="stylesheet" href="./node_modules/bulma/css/bulma.min.css"/>

    <!-- Fontawesome -->
    <link rel="stylesheet" href="./node_modules/@fortawesome/fontawesome-free/css/all.css"/>

    <!-- Main CSS -->
    <link rel="stylesheet" href="./main.css"/>
    
</head>
<body>
    
    <div id="app">

        <!-- Start Main functionality -->
        <p id="theInfo" class="is-size-1 has-text-centered m-t-xs">
            {{currentKana.character}} <span v-if="showKanaInfo">- {{currentKana.romaji | capitalize}}</span>
        </p>

        
        <div class="container">
            <div class="columns is-mobile">
                <div class="column">
                    <a class="button is-outlined is-rounded is-pulled-right" @click="showAnswer()">Show</a>
                </div>
                <div class="column">
                    <a class="button is-outlined is-rounded" @click="nextKana()">Next</a>
                </div>
            </div>

            <div class="columns is-centered is-mobile">
                <div class="column is-5 is-narrow">
                    <input id="checker" class="input is-rounded" v-bind:class="answer" type="text" placeholder="Romaji"/>
                </div>
                <div class="column is-narrow">
                    <a class="button is-outlined is-rounded" @click="checkAnswer()">Check</a>
                </div>
            </div>

            <div class="columns is-centered is-mobile">
                <a href="#settings" class="is-size-4"><i class="fas fa-cog"></i></a>
            </div>
        </div>
        <!-- End Main functionality -->

        <!-- Start Score-pannel -->
        <div class="container m-t-lg">
            <div class="columns">
                <div class="column is-10 is-offset-1">
                    <div class="card">
                        <header class="card-header">
                            <p class="card-header-title">
                                Score
                            </p>
                            <a href="#" @click="toggleScore" class="card-header-icon" aria-label="more options">
                                <span class="icon">
                                    <i class="fas fa-angle-down" aria-hidden="true"></i>
                                </span>
                            </a>
                        </header>
                        <div class="card-content" v-if="showScore">
                            <div class="content container">
                                <div class="columns is-centered is-mobile">
                                    <div class="column is-2">
                                        <p>Next: </p>
                                        <p>Show: </p>
                                        <p>Balance: </p>
                                    </div>
                                    <div class="column is-1">
                                        <p>{{score.next}}</p>
                                        <p>{{score.show}}</p>
                                        <p>{{score.next - score.show}}</p>
                                    </div>
                                    <div class="column is-2">
                                        <p>Correct: </p>
                                        <p>Wrong: </p>
                                        <p>Balance: </p>
                                    </div>
                                    <div class="column is-1">
                                        <p>{{score.correctChecks}}</p>
                                        <p>{{score.wrongChecks}}</p>
                                        <p>{{score.correctChecks - score.wrongChecks}}</p>
                                    </div>
                                    <div class="column is-2">
                                        <p>Checks: </p>
                                        <p>Media: </p>
                                        <p>Score: </p>
                                    </div>
                                    <div class="column is-1">
                                        <p>{{score.correctChecks + score.wrongChecks}}</p>
                                        <p>{{ scoreMedia }}</p>
                                        <p>{{ totalScore }}</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Score-pannel -->

        <!-- Start Settings -->
        <div class="container">
            <div class="columns">
                <div class="column is-10 is-offset-1">
                    <div class="card">
                        <header class="card-header">
                            <p class="card-header-title">
                                Settings
                            </p>
                            <a href="#" @click="toggleSettings" class="card-header-icon" aria-label="more options">
                                <span class="icon">
                                    <i class="fas fa-angle-down" aria-hidden="true"></i>
                                </span>
                            </a>
                        </header>
                        <div class="card-content" v-if="showSettings">
                            <div class="content container">
                                <div class="columns is-centered is-mobile">
                                    <div class="control">
                                        <label class="radio">
                                          <input @click="toggleSyllabary('HIRAGANA')" type="radio" name="syllabary" checked> Hiragana
                                        </label>
                                        <label class="radio">
                                          <input @click="toggleSyllabary('KATAKANA')" type="radio" name="syllabary"> Katakana
                                        </label>
                                    </div>
                                </div>
                                
                                <template id="kanaRows">
                                    <div v-for="(syllableRow, index) in syllabaries.hiragana" class="columns">
                                        <div class="column is-3">
                                            <label class="checkbox">
                                                <input type="checkbox">
                                                 {{syllableRow[0].romaji.charAt(0)}}
                                            </label>
                                        </div>

                                        <div v-for="(syllable, subindex) in syllableRow" class="column">
                                            <input type="checkbox" 
                                                v-model="syllabaries.hiragana[index][subindex].checked"
                                                @click="updateCheckedKanas()"
                                            >
                                             {{syllable.character}}
                                        </div>
                                        
                                    </div>
                                </template>

                                <div class="columns">
                                    <div class="column">

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Settings -->
    </div>
 
  

    <!-- Vue.js -->
    <script src='./node_modules/vue/dist/vue.min.js'></script>

    <!-- Main JS -->
    <script>
        require('./main.js');
    </script>
</body>
</html>